@use "../abstracts/index" as *;

.icons {
  width: 100%;
  justify-content: center;

  @media only screen and (min-width: $desktop-layout) {
    justify-content: flex-end;
  }
}

.icon-wrapper {
  display: table;
  width: 40px;
  height: 40px;
  color: $white;
  margin: 20px 10px;
  border-radius: 999px;
  border: 1px solid $white;
  &:hover,
  &:focus-visible,
  &.active {
    border: 1px solid $soft-magenta;
  }

  a {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: $white;
    text-decoration: none;
    &:hover,
    &:focus-visible,
    &.active {
      color: $soft-magenta;
    }
  }
}
