@use 'functions' as *;
@use 'breakpoints' as *;
@use 'colors' as *;
@use 'fonts' as *;

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

.hidden {
  display: none !important;
}

body {
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items:stretch;
  background: url('./../../images/bg-mobile.svg') no-repeat;
  background-color: $violet;
  min-height: 100vh;
  font-family: $font-body;
  font-weight: $body-weight-medium;
  line-height: 1.5;
  padding: 2rem;

  @media only screen and (min-width: $desktop-layout) {
    background: url('./../../images/bg-desktop.svg') no-repeat;
    background-color: $violet;
  }
}

h1 {
  color: $white;
  text-align: center;
  font-family: $font-headings;
  font-weight: $headings-weight-bold;
}

p {
  color: $white;
  text-align: center;
  margin: 0;
  font-weight: $body-weight-medium;
}